.home {
    width: 100%;
    height: 100%;
}

.home > p {
    color: rgba(255, 255, 255, 0.68);
    padding: 10px;
}

.searchbar {
    margin: 10px;
    width: 300px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #222935;
    color: white;
    padding-left: 20px;
}

.searchbar:focus {
    outline: #1987ff solid 1px;
}

.archive_link {
    color: #1c5aa8;
}

.archive_link:hover {
    text-decoration: underline;
}

h1 {
    font-size: 40px;
    padding: 20px 0 10px 20px;
}

.playlists {
    display: flex;
    flex-direction: row;
    height: 300px;
    align-items: center;
    overflow: scroll;
}

.playlist {
    background-color: rgba(28, 32, 43, 0.75);
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #dddddd;
}

.playlists_item {
    position: relative;
    margin-left: 50px;
    background-image: url("../../graphics/Default Playlist Photo.png");
    background-size: cover;
    min-width: 250px;
    height: 250px;
    border-radius: 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 300ms ease;
}

.playlists_item:hover {
    transform: scale(1.05);
}

.songs_list {
    display: flex;
    height: 300px;
    align-items: center;
    overflow: scroll;
}

.songs_item {
    position: relative;
    margin-left: 50px;
    background-size: cover;
    min-width: 250px;
    height: 250px;
    border-radius: 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 300ms ease;
}

.songs_item:hover {
    transform: scale(1.05);
}

.song {
    background-color: rgba(28, 32, 43, 0.75);
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 245px;
    color: #dddddd;
    padding-left: 5px;
}