.search {

}

.search_results {
    display: flex;
}

.results {
    background-color: var(--secondary-color);
    width: 80%;
    height: 100px;
    margin: 10px 0 0 10px;
}

.filters {
    background-color: var(--tertiary-color);
    width: 20%;
    height: 100px;
    margin: 10px 0 0 10px;
    border-radius: 5px 0 0 5px;
}