main {
    width: calc(100vw - 200px);
    height: calc(100vh - 90px);
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primary-color);
    display: block;
    overflow: scroll;
}